<mat-toolbar color="none">
  <span>Current Job Openings</span>
</mat-toolbar>

<div class="mat-typography" *ngFor="let job of careers.jobs">
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="career-card">
      <mat-card-header>
        <mat-card-title>{{job.title}}</mat-card-title>
        <mat-card-subtitle>{{job.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li><strong>Responsibilities</strong></li>
          <div [innerHTML]="job.responsibilities"></div>
          <li><strong>Required Qualifications</strong></li>
          <div [innerHTML]="job.musthave"></div>
          <li><strong>Desired Qualifications</strong></li>
          <div [innerHTML]="job.desired"></div>
        </ul>
        <div [innerHTML]="job.body"></div>
      </mat-card-content>
      <mat-card-actions>
        <a href="mailto:recruiting@channelit.biz?subject=JobID {{job.id}}"><button mat-button>Apply</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
