<a id="{{content.title | idMaker}}"></a>
<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title><h2>{{content.title}}</h2></mat-card-title>
    <mat-card-subtitle [innerHTML]="content.subtitle | htmlTag:'h3'"></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <section *ngFor="let body of content.body" fxLayout.lt-lg="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
      <mat-card>
        <mat-card-header>
          <mat-card-title [innerHTML]="body.title | htmlTag:'h2,strong'"></mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li *ngFor="let contentItem of body.content" [innerHTML]="contentItem | htmlTag:'h3'"></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </section>
  </mat-card-content>
</mat-card>
