<md-card class="banner-card">
  <md-card-header>
    <div class="mat-display-2">Enterprise Search Consulting</div>
  </md-card-header>
  <md-card-content>
    SERVICE OVERVIEW

    Our search strategy consulting service typically comprises the following: A senior consultant, supported as necessary by subject matter experts, will:

    Gain a comprehensive understanding of your corporate objectives, data sets, and the business processes that rely on search
    Conduct a detailed review of the current search infrastructure
    Provide a search strategy report and executive presentation detailing our recommendations
    This service is applicable regardless of which search products you currently use. Our advice will take your current circumstances as the starting point for building a  search strategy.
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
