<a id="{{content.title | idMaker}}"></a>
<md-card class="mat-elevation-z4">
  <md-card-header>
    <md-card-title><h2>{{content.title}}</h2></md-card-title>
    <md-card-subtitle [innerHTML]="content.subtitle | htmlTag:'h3'"></md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <section *ngFor="let body of content.body">
      <md-card>
        <md-card-header>
          <md-card-title [innerHTML]="body.title | htmlTag:'h2'"></md-card-title>
        </md-card-header>
        <md-card-content>
          <ul>
            <li *ngFor="let contentItem of body.content" [innerHTML]="contentItem | htmlTag:'h3'"></li>
          </ul>
        </md-card-content>
      </md-card>
    </section>
  </md-card-content>
</md-card>
