<a id="about"></a>
<div class="mat-toolbar"></div>
<div fxLayout="rows" fxLayout.lt-md="column" fxLayoutGap="10px" class="mat-typography">
  <div fxFlex.gt-md="33">
    <md-card class="about-card">
      <md-card-header>
        <md-card-title><h1>Who We Are</h1></md-card-title>
      </md-card-header>
      <md-card-content>
        <h3>
          Channel IT Services is a SBA 8(a) certified, Women-Owned Business that provides IT Consulting, Staff/Skill Augmentation, Computer Systems Development and Project Services. We are independent technology services firm specializing in the software design, development, implementation, and management of search and big data analytics applications. We are recognized for services business for quality service and customer satisfaction.
        </h3>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex.gt-md="33">
    <md-card class="about-card">
      <md-card-header>
        <md-card-title><h1>Our Solutions</h1></md-card-title>
      </md-card-header>
      <md-card-content>
        <h3>
          Our solutions have been designed to address the critical needs in managing clients' strategic IT infrastructure and systems needs. Our unique blend of services and operational excellence ensures complete coverage of its clients' requirements. The keystones of our continued success are a deep understanding of customer needs and requirements, a proven track record of service delivery and successful project implementation.
        </h3>
      </md-card-content>
    </md-card>
  </div>
  <div fxFlex.gt-md="33">
    <md-card class="about-card">
      <md-card-header>
        <md-card-title><h1>Our Goal</h1></md-card-title>
      </md-card-header>
      <md-card-content>
        <h3>
          Our goal is to provide the best value solutions to our clients and promote the highest standards of quality, integrity and mutual respect. We are passionate and committed to providing value to our customers, employees, and vendor partners while helping your business grow. At Channel IT Services, we strongly believe that the long term success of a company cannot be achieved without delivering exceptional customer service.
        </h3>
      </md-card-content>
    </md-card>
  </div>
</div>
<div fxFill="row" fxLayoutAlign="center">
  <md-card class="about-card">
    <md-card-content>
      <h1>
        Channel IT Services, LLC
      </h1>
      <h2>
        43031 Elk Pl, Chantilly, VA 20152
      </h2>
      <h2>
        info@channelit.biz
      </h2>
      <h2>
        DUNS: 832893775
      </h2>
      <h2>
        703.725.8421
      </h2>
    </md-card-content>
  </md-card>
</div>

