<mat-toolbar color="primary" [@toolbarAnimation]="state" class="main-toolbar mat-elevation-z3">
  <span class="toolbar-logo-holder"><img src="../assets/logo_transparent.png" class="toolbar-logo"></span>
  <span>
    <div routerLink="home" fragment="home" class="company-name-holder">
        <span>Channel IT Services, llc</span>
        <span class="trademark">Implementing The Future&trade;</span>
    </div>
  </span>
  <span class="main-toolbar-fill"></span>
  <div fxShow fxHide.lt-lg>
    <span *ngFor="let item of menuItems; let mindex = index">
      <a mat-button *ngIf="!item.items" [routerLink]="item.url" fragment="start">
        <h3>{{item.title}}</h3>
      </a>
      <a mat-button *ngIf="item.items" [routerLink]="item.url" fragment="start" [matMenuTriggerFor]="innerMenu">
        <h3>{{item.title}}</h3>
      </a>
      <mat-menu #innerMenu="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let menuItem of item.items" [routerLink]="item.url" fragment="{{menuItem.title | idMaker}}">
          {{menuItem.title}}
        </button>
      </mat-menu>
    </span>
  </div>
  <div fxHide fxShow.lt-lg>
    <span class="sm-menu-button" [matMenuTriggerFor]="smmenu"><i class="fa fa-bars fa-lg fa-border"></i></span>
    <mat-menu #smmenu="matMenu">
      <div *ngFor="let item of menuItems; let mindex = index">
        <a mat-button routerLink="{{item.url}}" fragment="start">
          <i class="sm-menu-icon {{item.icon}}"></i>
          {{item.title}}
        </a>
      </div>
    </mat-menu>
  </div>
  <span class="main-toolbar-fill" fxHide.lt-lg></span>
  <span class="social-icon" fxHide.lt-mdt><i class="fa fa-linkedin"></i></span>
  <span class="social-icon" fxHide.lt-md><i class="fa fa-github"></i></span>
  <span class="social-icon" fxHide.lt-md><i class="fa fa-google-plus"></i></span>
</mat-toolbar>
<a id="home"></a>
<app-banner></app-banner>
<a id="start"></a>
<router-outlet></router-outlet>
<app-footer></app-footer>
