<div class="banner-card-wrapper mat-typography">
  <mat-card class="banner-card">
    <img mat-card-image src="../../../assets/img/banner/istock/iStock-170619187.jpg">
  </mat-card>
  <span class="banner-card-overlay">
    <mat-card class="banner-card-overlay-card mat-elevation-z6">
      <!--<div>-->
        <!--<span><img src="../assets/logo_transparent.png" class="banner-logo"></span>-->
        <!--<span>-->
          <!--<div routerLink="home" class="banner-company-name-holder">-->
              <!--<span>Channel IT Services, llc</span>-->
              <!--<span class="trademark">Implementing The Future&trade;</span>-->
          <!--</div>-->
        <!--</span>-->
      <!--</div>-->
      <div class="banner-qual-text">
        <p>SBA 8(a) Certified</p>
        <p>Women Owned Small Business</p>
      </div>
      <mat-chip-list fxHide fxShow.lt-lg>
        <mat-chip *ngFor="let item of menuItems | filter:'important'" routerLink="{{item.url}}" fragment="start" fxHide fxShow.lt-lg>
          {{item.title}}
        </mat-chip>
      </mat-chip-list>
    </mat-card>
    <mat-card class="banner-card-overlay-card mat-elevation-z6" fxHide.lt-sm>
        <div class="banner-naics">
          <p>NAICS Codes</p>
          <p><strong>541512</strong> - Computer System Design and Related Services</p>
          <p>541511 - Custom Computer Programming Services</p>
          <p>541513 - Computer Facilities Management Services</p>
          <p>541611 - Administrative and General Management Consulting</p>
          <p>541612 -  Human Resources Consulting Services</p>
      </div>
    </mat-card>
  </span>
</div>
