<div class="banner-card-wrapper mat-typography">
  <md-card class="banner-card">
    <img md-card-image src="../../../assets/img/banner/istock/iStock-170619187.jpg">
  </md-card>
  <span class="banner-card-overlay">
    <md-card class="banner-card-overlay-card">
      <!--<div>-->
        <!--<span><img src="../assets/logo_transparent.png" class="banner-logo"></span>-->
        <!--<span>-->
          <!--<div routerLink="home" class="banner-company-name-holder">-->
              <!--<span>Channel IT Services, llc</span>-->
              <!--<span class="trademark">Implementing The Future&trade;</span>-->
          <!--</div>-->
        <!--</span>-->
      <!--</div>-->
      <div class="banner-qual-text">
        <p>SBA 8(a) Certified</p>
        <p>Women Owned Small Business</p>
      </div>
    </md-card>
  </span>
</div>
