.banner-card {
  padding: 0;
}
.banner-logo {
  height: 30px;
  padding: 4px;
  border-radius: 50%;
  background-color: white;
}

.banner-company-name-holder {
  display: table-cell;
  text-align: left;
  vertical-align: bottom;
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  color: aliceblue;
}
.banner-company-name-holder > span {
  display: block;
}
.trademark {
  padding-top: 6px;
  font-size: 15px;
  font-weight:normal;
  color: #eeeeee;
}
.banner-card-wrapper {
  position: relative;
}
.banner-card-overlay {
  position: absolute;
  top: 15%;
  right: 5%;
  color: white;
  font-size: 34px;
}
.banner-qual-text {
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}
.banner-naics {
  padding-top: 20px;
  font-size: 15px;
  color: white;
}
.banner-card-overlay-card {
  background: #4884cd;
  opacity: 0.8;
}
